@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import '~mdb-ui-kit/css/mdb.min.css';
@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  background-color: #f9fcff!important;
}

.top-background {
  height: 100%;
  width: 100%;
  display: table;
  position: relative;
  background-size: cover;
}

.your-name {
  text-align: center;
}

.name {
  opacity: 0;
  transition: all 0.6s ease!important;
  border: solid black;
  background-image: repeating-linear-gradient(45deg, #ffffffa8, transparent 4px);
  display: inline;
}

h1:hover > .name {
  animation: fadeIn 4s;
  animation-fill-mode: forwards;
  right: 6vw;
  position: relative;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.waterfalls {
  background: url(../images/top-background-light.gif) center no-repeat;
  background-position: left;
}

.waterfalls:focus {
    background: url(http://localhost:3000/static/media/top-background-dark.ad3ef0a….gif) center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#top-background-light {
  opacity: 75%;
  /* position: absolute; */
}

#top-background-dark {
  opacity: 0%;
  visibility: hidden;
  position: absolute;
}

.top-background:hover {
  opacity: 100%!important;
}

.background-overlay {
  height: 100%;
  width: 100%;
  display: table;
  position: relative;
  background-size: cover;
}

.background-overlay:before {
  content: '';
  background-image: linear-gradient(#ffffff00, #f4f4f400, #f9fcff);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: all 0.6s ease!important;
}

.background-pattern {
  content: '';
  background-color: #0c0c0c;
}

.content-top {
  color: #0c0c0c;
  vertical-align: middle;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  transition: all 0.6s ease!important;
}

.hello {
  background-color: #f9fcff!important;
  background-image: linear-gradient(#f9fcff, #d2e7f8);
  height: 80vh;
}

span {
  color: #f35626;
  background-image: -webkit-linear-gradient(90deg,#f35626,#ffab39bf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear;
  animation-timing-function: steps(5, end);
  position: relative;
  margin: 0.6rem;
  font-weight: 600;
}

@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  
  to {
    -webkit-filter: hue-rotate(360deg);
  }
}

.content-top #top {
  font-size: 40px;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  width: 10%;
  box-shadow: 8vw 14vw 2vw 0.5vw #0b0b0b4d;
  transition: all 2.0s cubic-bezier(0.25, 0.17, 0.3, 0.73);
  border-radius: 6px;
  background-color: #ffffff80;
  background-image: radial-gradient(white, #ffffff00);
}

#top:hover {
  background-color: rgb(255 255 255 / 0%);
  background-image: radial-gradient(#ffffff61, transparent);
  padding: 3em 4em 4% 9%;
  border: #ffffff00;
  color: black;
  border-radius: 20% 5% 5% 5%;
  margin-bottom: 10vh;
}

@media screen and (max-width: 1000px) {
  #top:hover {
  padding-right: 200px;
  }
}

#top::after {
  background-image: url('https://pics.clipartpng.com/Open_Door_White_PNG_Clip_Art-2396.png');
  /* content: url('https://pics.clipartpng.com/Open_Door_White_PNG_Clip_Art-2396.png'); */
}

nav.navbar-dark.navbar.navbar-expand-lg.bg-transparent {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.navbar>.container-fluid {
  display: flex;
  align-content: space-around;
  align-items: center;
}

a {
  color: rgb(255, 255, 255);
  transition: color 0.6s ease!important;
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: #e9ecef!important;
  --bs-dropdown-link-active-color: rgb(0, 0, 0)!important;
}

li.nav-item {
  display: flex;
  align-content: flex-end;
  flex-direction: column;
} 

.dropdown-menu .active {
  color: #16181b!important;
  text-decoration: none;
  background: none!important;
  font-weight: bold!important;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
  font-weight: bold!important;
}

.btn-floating, [class*=btn-outline-].btn-floating {
  padding: 1px;
}

#navbar-visible {
  background-color: #d2e7f7!important;
  transition: 1.2s all;
}

.bg-transparent {
  transition: 0.8s ease-in-out;
}

.project-container {
  display: block;
  height: 80vh;
}

.project-underlay {
  height: 45vh;
  width: 79vw;
  border: solid black 4px;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  padding: 1%;
  margin: 8%;
  position: absolute;
}

.hello h2 {
  margin: 0 auto!important;
}

.project-overlay {
  height: 45vh;
  min-height: 240px;
  min-width: 300px;
  width: 42vw;
  border: solid black 4px;
  border-radius: 10px;
  background-color: pink;
  color: rgb(0, 0, 0);
  padding: 1%;  
  margin: 8%;
  justify-content: center;
  position: absolute;
}

.project {
  padding-top: 15vh;
}

.burning-airlines-card {
  /* background-color: green; */
  background-image: URL('https://wallpapercave.com/wp/wp4080178.jpg');
}

div.burning-airlines {
  background-image: linear-gradient(0deg, #ffb6d88c, #d3e8f8, #d3e8f8);
}

div.brain-train {
  background-image: linear-gradient(0deg, transparent, #ffb6d88c);
}

div.tapedeck {
  background-image: linear-gradient(transparent, green);
}

div.tic-tac-toe {
  background-image: linear-gradient(transparent, #ccc);
}