@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

body {
  background-color: #f4f6f6;
}

.top-background {
  height: 100%;
  width: 100%;
  display: table;
  position: relative;
  background-size: cover;
}

.your-name {
  text-align: center;
}

.waterfalls {
  background: url(./images/top-background-light.gif) center no-repeat;
  background: url(./images/top-background-dark.gif) hidden no-repeat;
  background-position: left;
}

#top-background-light {
  opacity: 75%;
  /* position: absolute; */
}

#top-background-dark {
  opacity: 0%;
  visibility: hidden;
  position: absolute;
}

.top-background:hover {
  opacity: 100%!important;
}

.background-overlay {
  height: 100%;
  width: 100%;
  display: table;
  position: relative;
  background-size: cover;
}

.background-overlay:before {
  content: '';
  background-image: linear-gradient(#ffffff00, #f4f4f400, #f4f6f6);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.content-top {
  color: #0c0c0c;
  vertical-align: middle;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
}

.content-top h1 {
  padding: 6vh 15px 15px;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  width: min(400px, 75vw);
  transition: all 0.10s ease;
  border-radius: 5px;
  background-color: #ffffff5e;
  height: 4rem;
  padding-top: 2rem;
}

h1:hover {
  background-color: rgba(255, 255, 255, 0);
}